html {
  box-sizing: border-box;
  font-family:'helvetica neue';
  font-weight: 300;
}
body {
  margin: 0;
}

/*------------------------------------------------*/
/*---------------- App Header -------------------*/
/*------------------------------------------------*/

header {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  height: 10vh;
  background:url(../assets/verb_logo_background_white.png) center center no-repeat;
  background-size: contain;
}

/*---------------------------------------------------------------*/
/*---------------- Color Button Selected Line -------------------*/
/*---------------------------------------------------------------*/

.color-buttons__top--selected {
  height: 10px;
  background-color: #cf196f;
  width: 100%;
}

/*--------------------------------------------------*/
/*---------------- Color Buttons -------------------*/
/*--------------------------------------------------*/

.color-buttons {
  background:black;
  width: 100%;
}
.color-buttons ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  color: #fff;
  cursor: pointer;
}
.color-buttons ul li {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1rem;
  text-transform: uppercase;
}
.color-buttons ul li:first-child {
  background-color: #cf196f;
}
.color-buttons ul li:first-child {
  border-bottom: 10px solid #cf196f;
}
.color-buttons ul li:nth-child(2) {
  border-bottom: 10px solid #3333FF;
}
.color-buttons ul li:nth-child(3) {
  border-bottom: 10px solid #ffc600;
}
.color-buttons ul li:nth-child(4) {
  border-bottom: 10px solid green;
}

/*---------------------------------------------------*/
/*-------------------  Display ----------------------*/
/*---------------------------------------------------*/

.display__title {
  text-align: center;
  font-weight: 300;
  margin: 2% 0;
}
.display__ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}
.display__ul li {
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 2%;
  display: flex;
  text-transform: capitalize;
  cursor: pointer;
  background: #333;
  color: #fff;
  border-radius: 5px;
}
.display__ul li:hover {
  background: #000;
}
.display__ul li span:first-child {
  width: 25px;
	height: 5px;
  margin-top: 6px;
  margin-right: 15px;
  border-radius: 5px;
}
.display__ul li span:last-child {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

/*--------------------------------------------------*/
/*----------------- Search Form --------------------*/
/*--------------------------------------------------*/

.search-form {
  width: 50%;
  margin: auto;
  margin-top: 2%;
}
.search-form__input {
  margin: 0;
  text-align: center;
  outline:0;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  position: relative;
  font-size: 1rem;
  padding: 10px 0;
  color: #000;
}
.search-form-results__ul {
  position: absolute;
  z-index: 10;
}
.search-form-results__ul li {
  background: #999;
}
.search-form-results__ul li:hover {
  color: #fff;
}

/*--------------------------------------------------------------*/
/*------------------- Single User Display ----------------------*/
/*--------------------------------------------------------------*/

.single-user__ul li {
  cursor: default;
}
.single-user__ul li:hover {
  background: #333;
  border-radius: 0px;
}
.single-user__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.single-user__buttons p {
  border: 1px solid #D8D8D8;
  border-top: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin: 0;
  padding: 1%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.single-user__buttons p:first-child {
  background-color: #000;
  color: #fff;
}
.single-user__buttons p:nth-child(1n+2):hover {
  cursor: pointer;
  color: #fff;
}
.single-user__buttons p:nth-child(2):hover {
  background-color: #3333FF;
}
.single-user__buttons p:nth-child(3):hover {
  background-color: #ffc600;
}
.single-user__buttons p:nth-child(4):hover {
  background-color: green;
}

/*--------------------------------------------------*/
/*----------------- Responsive  --------------------*/
/*--------------------------------------------------*/

@media screen and (max-width: 720px) {
  header {
    height: 8vh;
  }
  .search-form, .search-form-results__ul, .display__ul {
    width: 100%;
  }
  .color-buttons ul li {
    font-size: 0.75rem;
  }
}
